<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="empresa">

    <select id="obtenerEmpresaPorId" resultType="modelo.pojo.Empresa" parameterType="int">
        SELECT *
        FROM empresa
        WHERE idEmpresa=#{idEmpresa}
    </select>
    
    <select id="obtenerNomEmpresaPorId" resultType="modelo.pojo.Empresa" parameterType="int">
        SELECT idEmpresa, nombreEmpresa, nombreComercial 
        FROM empresa 
        WHERE idEmpresa=#{idEmpresa}
    </select>
    
    <select id="obtenerEmpresa" resultType="modelo.pojo.Empresa" parameterType="int">
        SELECT idEmpresa, nombreEmpresa
        FROM empresa
    </select>
    
    <select id="obtenerEmpresas" resultType="modelo.pojo.Empresa">
        SELECT idEmpresa, direccion, nombreEmpresa, nombreComercial, nombreRepresentante, codigoPostal, ciudad, telefono, paginaWeb, rfc, estatus  
        FROM empresa 
    </select>
    
    <select id="obtenerEmpresaPorNombre" resultType="modelo.pojo.Empresa" parameterType="String">
        SELECT idEmpresa, direccion, nombreEmpresa, nombreComercial, nombreRepresentante, codigoPostal, ciudad, telefono, paginaWeb, rfc, estatus 
        FROM empresa 
        WHERE nombreEmpresa=#{nombreEmpresa} OR nombreComercial=#{nombreEmpresa}
    </select>
    
    <select id="obtenerEmpresaPorRepresentante" resultType="modelo.pojo.Empresa" parameterType="String">
        SELECT idEmpresa, direccion, nombreEmpresa, nombreComercial,  nombreRepresentante, codigoPostal, ciudad, telefono, paginaWeb, rfc, estatus 
        FROM empresa 
        WHERE nombreRepresentante=#{nombreRepresentante} 
    </select>
    
    <select id="obtenerEmpresaPorRFC" resultType="modelo.pojo.Empresa" parameterType="String">
        SELECT idEmpresa, direccion, nombreEmpresa, nombreComercial,  nombreRepresentante, codigoPostal, ciudad, telefono, paginaWeb, rfc, estatus 
        FROM empresa 
        WHERE rfc = #{rfc} 
    </select>
    
    <select id="obtenerLogo" parameterType="int" resultType="modelo.pojo.Empresa">
        SELECT idEmpresa, nombreEmpresa, nombreComercial, nombreRepresentante, TO_BASE64(logoEmpresa) AS 'logoEmpresaBase64' 
        FROM empresa 
        WHERE idEmpresa =#{idEmpresa} 
    </select>
    
    <insert id= "registrar" parameterType="modelo.pojo.Empresa">
        INSERT INTO empresa(nombreEmpresa, nombreComercial, nombreRepresentante, codigoPostal, ciudad, telefono, paginaWeb, rfc, estatus, direccion) 
        VALUES (#{nombreEmpresa}, #{nombreComercial}, #{nombreRepresentante}, #{codigoPostal}, #{ciudad}, #{telefono}, #{paginaWeb}, #{rfc},#{estatus}, #{direccion}) 
    </insert>
    
    <update id= "editar" parameterType ="modelo.pojo.Empresa">
        UPDATE empresa 
        SET direccion=#{direccion}, nombreEmpresa=#{nombreEmpresa}, nombreComercial=#{nombreComercial}, nombreRepresentante=#{nombreRepresentante}, codigoPostal=#{codigoPostal}, 
        ciudad=#{ciudad}, rfc=#{rfc}, telefono=#{telefono}, paginaWeb=#{paginaWeb}, estatus=#{estatus} 
        WHERE idEmpresa = #{idEmpresa} 
    </update>
    
    <update id="subirLogo" parameterType="modelo.pojo.Empresa">
        UPDATE empresa 
        SET logoEmpresa = #{logoEmpresa} 
        WHERE idEmpresa = #{idEmpresa}
    </update>

    <delete id="eliminar" parameterType="int">
        DELETE FROM empresa 
        WHERE idEmpresa = #{idEmpresa}
    </delete>

</mapper>